.html, body {
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    background-color: #1F2937;
    margin: 0;
    padding: 0;
}

.body{
    display: flex;
    
    flex-direction: column;
}

/* Header styles */
.header {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1F2937;
    color: #F9FAF8;
}

.logo_bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 500px;
    padding: 10px 20px;
}

.logo_bar ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
}

a {
    text-decoration: none;
    color: #F9FAF8;
}

.header_content {
    flex: 1;
    display: flex;
    gap: 10px;
    margin-bottom: 50px;
}

.text {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 500px;
    padding: 5px;
}

.image_frame {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    padding: 10px;
    /* border: solid 2px #F9FAF8; */
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    border: none;
    width: 100px;
    height: fit-content;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

/* Block One styles */
.block_one {
    display: flex;
    flex-direction: column;
    background-color: #F9FAF8;
    align-items: center;
    color: #1F2937;
}

h1 {
    text-align: center;
}

.container {
    display: flex;
    gap: 20px;
    padding: 20px;
    justify-content: center;
    width: 1100px;
    /* border: solid 2px #1F2937; */
}

.block_one .container {
    margin-bottom: 50px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    /* border: solid 1px #3882F6; */
    border-radius: 5px;
}

.card p {
    text-align: center;
}

/* Block Two styles */
.block_two {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E5E7EB;
    color: #1F2937;
}

.block_two .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.quote {
    font-size: 36px;
    font-weight: 300;
    color:#1F2937;
    font-style: italic;
    text-align: center;
}

.block_two .container p {
    text-align: right;
    font-size: 15px;
    font-weight: bold;
}

/* Block Three styles */
.block_three {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #F9FAF8;
}

.block_three .container {
    display: flex;
    justify-content: space-between;
    background-color: #3882F6;
    border-radius: 10px;
    color: #F9FAF8;
}

.block_three .container button {
    display: flex;
    justify-content: center;
    align-self: center;
    background-color: #F9FAF8;
    color: #3882F6;
    border: none;
    width: 90px;
    height: fit-content;
    border-radius: 5px;
    padding: 5px;
    font-size: 16px;
    cursor: pointer;
}

/* Footer styles */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background-color: #1F2937;
    color: #F9FAF8;
}